<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.ExamQuestOptMapper">
    <!-- 分页查询-->
    <select id="getByPage" resultType="com.demo.model.entity.ExamQuestOpt">
        SELECT opt_id,
               quest_id,
               opt_cont,
               is_correct,
               opt_no,
               opt_name
        FROM exam_quest_opt
    </select>
</mapper>
