<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.PaperMapper">
    <!-- 分页查询-->
    <select id="getByPage" resultType="com.demo.model.entity.Paper">
        SELECT 
        paper_id, subject_id, paper_name, folder_name, total_score, duration, create_time
        FROM paper
    </select>
</mapper>
