<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.PaperRecordMapper">
    <!-- 分页查询-->
    <select id="getByPage" resultType="com.demo.model.entity.PaperRecord">
        SELECT 
        record_id, paper_id, finish_score, is_finish, start_time, finish_time
        FROM paper_record
    </select>
</mapper>
