<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.SourceImageMapper">
    <!-- 分页查询-->
    <select id="getByPage" resultType="com.demo.model.vo.SourceImgVo">
        SELECT a.image_id,
               a.file_name,
               a.category_id,
               a.remark,
               a.ocr_time,
               sc.folder_name
        FROM source_image a
                 LEFT JOIN source_category sc on sc.category_id = a.category_id
        WHERE a.category_id = #{dto.categoryId}
    </select>
    <!--获取图片的路径-->
    <select id="getImgPath" resultType="java.lang.String">
        SELECT CONCAT_WS('\\', b.folder_name, a.file_name) AS img_path
        FROM source_image a
                 LEFT JOIN source_category b on b.category_id = a.category_id
        WHERE a.image_id = #{id}
    </select>
</mapper>
