<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.SourceCategoryMapper">
    <!-- 分页查询-->
    <select id="getByPage" resultType="com.demo.model.vo.SourceCateVo">
        SELECT a.category_id,
               a.category_name,
               a.folder_name,
               a.remark,
               COUNT(b.image_id) AS recordNum
        FROM source_category a
                 LEFT JOIN source_image b ON a.category_id = b.category_id
        GROUP BY a.category_id,
                 a.category_name,
                 a.folder_name,
                 a.remark
    </select>
    <!-- 查询旧的文件夹名称-->
    <select id="queryFolderName" resultType="java.lang.String">
        SELECT folder_name
        FROM source_category
        WHERE category_id = #{categoryId}
    </select>
    <!-- 查询大类下的文件数量-->
    <select id="queryImgNum" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM source_image
        WHERE category_id = #{categoryId}
    </select>
</mapper>
