<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.SourceImageMapper">
    <!-- 分页查询-->
    <select id="getByPage" resultType="com.demo.model.entity.SourceImage">
        SELECT image_id,
               category_id,
               remark,
               ocr_time
        FROM source_image
        WHERE category_id = #{dto.categoryId}
    </select>

    <!--获取图片后缀-->
    <select id="getImgEnd" resultType="java.lang.String">
        SELECT file_end
        FROM source_image
        WHERE image_id = #{id}
    </select>

    <insert id="insertSourceImg" useGeneratedKeys="true"
            keyProperty="imageId">
        insert into source_image(category_id, file_end, remark)
        values (#{categoryId}, #{fileEnd}, #{remark})
    </insert>
</mapper>
