<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.PaymentDictMapper">
    <!--查询支付类型页面所用-->
    <select id="getAllByBigType" resultType="com.demo.model.vo.PaymentDictVo">
        SELECT pd.payment_type, key_name, pd.is_income, big_type, pd.color,COUNT(pr.record_id) AS recordNum
        FROM payment_dict pd
        LEFT JOIN payment_record pr on pd.payment_type = pr.payment_type
        <if test="bigType != null and bigType != 0">
            WHERE pd.big_type = #{bigType}
        </if>
        GROUP BY pd.payment_type,key_name, pd.is_income, big_type, pd.color
        ORDER BY big_type
    </select>
    <!-- 获取所有的支付类型(二级下拉框所用)-->
    <select id="getSelectTwoVos" resultType="com.demo.model.vo.TypeSelectTwoVo">
        SELECT big_type AS one_key,payment_type AS two_key, key_name AS two_value
        FROM payment_dict
        <if test="isIncome != null">
            WHERE is_income = #{isIncome}
        </if>
    </select>
</mapper>
