<!DOCTYPE html>
<html lang="zn">

<head>
    <meta charset="UTF-8">
    <title>分页查询</title>
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
<div id="app">
    <el-menu
            default-active="2"
            mode="horizontal"
            background-color="#409EFF"
            text-color="#fff"
            active-text-color="#ffd04b">
        <el-menu-item index="1"><a href="../index.html">回到首页</a></el-menu-item>
        <el-menu-item index="2">分页查询</el-menu-item>
        <el-menu-item index="3"><a href="lookAll.html">查询所有</a></el-menu-item>
    </el-menu>
    <br>
    <!-- 表单 -->
    <el-form :inline="true" :model="pageSeparate" class="demo-form-inline">
        <el-form-item label="学生">
            <el-input v-model="pageSeparate.studentName" autocomplete="off" placeholder="学生姓名"></el-input>
        </el-form-item>
        <el-form-item label="社团">
            <el-select v-model="pageSeparate.societyId" clearable placeholder="社团">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit" plain>查询</el-button>
        </el-form-item>
    </el-form>
    <!-- 按钮 -->
    <el-button type="danger" @click="deleteByIds" plain>批量删除</el-button>
    <el-button type="primary" @click="selectChoose(1)" plain>添加学生</el-button>
    <!-- 嵌套表单 -->
    <el-dialog :title="selectTitle" :visible.sync="dialogFormVisible">
        <el-form :model="student" autocomplete="off" size="small">
            <el-form-item label="姓名" :label-width="formLabelWidth" style="width: 60%;">
                <el-input v-model="student.studentName" maxlength="7" show-word-limit></el-input>
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <el-radio-group v-model="student.sex">
                    <el-radio-button label="1">男</el-radio-button>
                    <el-radio-button label="0">女</el-radio-button>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="英语" :label-width="formLabelWidth">
                <el-input-number v-model="student.englishGrade" :step="5" :min="1" :max="100">
                </el-input-number>
            </el-form-item>
            <el-form-item label="数学" :label-width="formLabelWidth">
                <el-input-number v-model="student.mathGrade" :step="5" :min="1" :max="100">
                </el-input-number>
            </el-form-item>
            <el-form-item label="社团" :label-width="formLabelWidth">
                <el-select v-model="student.societyId" placeholder="社团名称">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="身高" :label-width="formLabelWidth">
                <el-input-number v-model="student.height" :precision="2" :step="0.1" :min="1" :max="2">
                </el-input-number>
            </el-form-item>
            <el-form-item label="生日" :label-width="formLabelWidth">
                <el-date-picker v-model="student.birthday" type="date" placeholder="选择日期" value-format="yyyy-MM-dd">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="钱" :label-width="formLabelWidth" style="width: 50%;">
                <el-input-number v-model="student.money" :step="100" :min="0"></el-input-number>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="selectMethod">确 定</el-button>
        </div>
    </el-dialog>
    <!-- 表格 -->
    <template>
        <el-table :data="students" Iteme stripe style="width: 100%" highlight-current-row
                  @selection-change="handleSelectionChange">
            <el-table-column type="selection">
            </el-table-column>
            <el-table-column prop="id" align="center" width="50px" label="学号">
            </el-table-column>
            <el-table-column prop="studentName" align="center" label="姓名">
            </el-table-column>
            <el-table-column prop="sex" align="center" label="性别">
            </el-table-column>
            <el-table-column prop="englishGrade" align="center" label="英语">
            </el-table-column>
            <el-table-column prop="mathGrade" align="center" label="数学">
            </el-table-column>
            <el-table-column prop="societyName" align="center" label="社团">
            </el-table-column>
            <el-table-column prop="height" align="center" label="身高">
            </el-table-column>
            <el-table-column prop="birthday" align="center" label="生日">
            </el-table-column>
            <el-table-column prop="money" align="center" label="钱">
            </el-table-column>
            <el-table-column type="index" width="40px">
            </el-table-column>
            <el-table-column align="center" width="170px" fixed="right" label="操作">
                <template slot-scope="scope">
                    <el-button type="primary" icon="el-icon-edit" @click="handleEdit(scope.row)" circle></el-button>
                    <el-button type="danger" icon="el-icon-delete" @click="handleDel(scope.row)" circle></el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!-- 分页工具条 -->
    <el-pagination @size-change=" handleSizeChange"
                   @current-change="handleCurrentChange"
                   :current-page.sync="pageSeparate.currentPage1"
                   :page-sizes="[5, 7, 9, 12]"
                   :page-size="pageSeparate.pageItem"
                   layout="total,sizes,prev, pager, next" :total="totalItem">
    </el-pagination>
</div>

<script src="../js/axios-0.18.0.js"></script>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {
            this.selectByPage()
        },
        data() {
            return {
                // 表格数据
                students: [],
                studentID: '',
                //下拉列表
                options: [{
                    value: '1',
                    label: '散人'
                }, {
                    value: '2',
                    label: '头文字D'
                }, {
                    value: '3',
                    label: '轻音部'
                }, {
                    value: '4',
                    label: '黄金之风'
                }, {
                    value: '5',
                    label: '极东魔术昼寝结社'
                }],
                // 复选框数据
                multipleSelection: [],
                selectIdGroup: [],
                // 嵌套表单
                selectTitle: "添加学生",
                dialogFormVisible: false,
                student: {
                    id: '',
                    studentName: '',
                    sex: '',
                    englishGrade: '',
                    mathGrade: '',
                    societyId: '',
                    height: '',
                    birthday: '',
                    money: ''
                },
                formLabelWidth: '120px',
                // 分页数据
                totalItem: 50,
                pageSeparate: {
                    studentName: '',
                    societyId: '',
                    currentPage1: 1,
                    pageItem: 7
                }
            };
        },
        methods: {
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            onSubmit() {
                this.pageSeparate.currentPage1 = 1
                this.selectByPage();
                console.log(this.pageSeparate);
            },
            selectChoose(val) {
                const _this = this
                if (val === 2) {
                    _this.selectTitle = "修改学生"
                } else if (val === 1) {
                    _this.student = {
                        id: '',
                        studentName: '',
                        sex: '',
                        englishGrade: '',
                        mathGrade: '',
                        societyId: '',
                        height: '',
                        birthday: '',
                        money: ''
                    }
                    _this.selectTitle = "添加学生"
                }
                _this.dialogFormVisible = true
            },
            selectMethod() {
                const _this = this
                if (_this.selectTitle === "修改学生") {
                    _this.updateById()
                } else if (_this.selectTitle === "添加学生") {
                    _this.addStudent()
                }
                _this.dialogFormVisible = false
            },
            selectByPage() {
                // 页面加载完成后，发送异步请求，查询查询部分学生
                axios({
                    method: "post",
                    url: "http://localhost:8080/studentManage2/manager/selectPage",
                    data: this.pageSeparate
                }).then(resp => {
                    this.students = resp.data.rows;
                    this.totalItem = resp.data.totalItem;
                })
            },
            addStudent() {
                // 发送ajax请求，添加
                axios({
                    method: "post",
                    url: "http://localhost:8080/studentManage2/manager/addStudent",
                    data: this.student
                }).then(resp => {
                    // 判断响应数据是否为 YES
                    if (resp.data === "YES") {
                        this.open2("添加成功")
                        this.pageSeparate.currentPage1 = 1
                        this.selectByPage()
                    } else if (resp.data === "NO") {
                        this.open4("插入失败")
                    }
                })
            },

            deleteByIds() {
                const selectGroup = this.multipleSelection;
                for (let i = 0; i < selectGroup.length; i++) {
                    this.selectIdGroup[i] = selectGroup[i].id;
                }
                console.log(this.selectIdGroup);
                axios({
                    method: "post",
                    url: "http://localhost:8080/studentManage2/manager/deleteByIds",
                    data: this.selectIdGroup
                }).then(resp => {
                    // 判断响应数据是否为 YES
                    if (resp.data === "YES") {
                        this.open2("批量删除成功")
                        this.selectByPage()
                    } else if (resp.data === "NO") {
                        this.open4("批量删除失败")
                    }
                })
            },
            selectById() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/studentManage2/manager/selectAStu",
                    data: this.studentID
                }).then(resp => {
                    this.student = resp.data
                })
            },
            updateById() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/studentManage2/manager/updateStudent",
                    data: this.student
                }).then(resp => {
                    if (resp.data === "YES") {
                        this.open2("修改成功")
                        this.selectByPage()
                    } else if (resp.data === "NO") {
                        this.open4("修改失败")
                    }
                })
            },
            deleteById() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/studentManage2/manager/deleteAStu",
                    data: this.studentID
                }).then(resp => {
                    if (resp.data === "YES") {
                        this.open2("删除成功")
                        this.selectByPage()
                    } else if (resp.data === "NO") {
                        this.open4("删除失败")
                    }
                })
            },
            handleEdit(row) {
                this.studentID = row.id
                this.selectById()
                this.selectChoose(2)
            },
            handleDel(row) {
                this.studentID = row.id
                this.deleteById()
            },
            handleSizeChange(val) {
                this.pageSeparate.pageItem = val
                this.selectByPage()
            },
            handleCurrentChange(val) {
                this.pageSeparate.currentPage1 = val
                this.selectByPage()
            },
            open2(val) {
                this.$message({
                    message: val,
                    type: 'success'
                });
            },
            open4(val) {
                this.$message.error(val);
            }
        }
    })
</script>
</body>
</html>