<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>登录注册</title>
    <link href="css/myGate.css" rel="stylesheet">
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
</head>

<body>
<div id="myLoginDiv">
    <template>
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="【=登录=】" name="first">
                <div>
                    <h1 id="login_title01">登录</h1>
                    <p class="input"><label for="username01">用户名:</label><input type="text" id="username01"
                                                                                   v-model="user.nameJade"
                                                                                   placeholder="用户名"></p>
                    <p class="input"><label for="password01">密码:</label><input type="password" id="password01"
                                                                                 v-model="user.passwordJade"
                                                                                 placeholder="密码"></p>
                    <p style="margin-top: 20px;margin-left: 290px">
                        <el-switch v-model="user.remember" active-text="记住密码">
                        </el-switch>
                    </p>
                    <div class="subDiv">
                        <el-button type="primary" @click="loginMean">登录</el-button>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="【=注册=】" name="second">
                <div>
                    <h1 id="login_title">注册</h1>
                    <p class="input"><label for="username">用户名:</label><input type="text" id="username"
                                                                                 v-model="user01.nameJade"
                                                                                 placeholder="用户名"></p>
                    <p class="input"><label for="password">密码:</label><input type="password" id="password"
                                                                               v-model="user01.passwordJade"
                                                                               placeholder="密码"></p>
                    <p style="margin-top: 20px;margin-left: 290px">
                        <el-switch v-model="user01.remember" active-text="记住密码">
                        </el-switch>
                    </p>
                    <p class="input"><label for="checkCode">验证码: </label><input type="text" name="checkCode"
                                                                                   id="checkCode"
                                                                                   v-model="checkCode">
                        <img src="http://localhost:8080/studentManage2/login/checkCode" id="checkCodeImg" alt="验证码">
                        <a href="javascript:check_code()" id="changeImg">看不清？</a>
                    </p>
                    <div class="subDiv">
                        <el-button type="primary" @click="checkSend">注册</el-button>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="链接跳转" name="third">
                <div class="subDiv">
                    <a href="index.html">
                        <el-button type="primary">返回首页</el-button>
                    </a>
                </div>
            </el-tab-pane>
        </el-tabs>
    </template>

</div>
</body>

<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: "#myLoginDiv",
        data() {
            return {
                // 标签分页
                activeName: 'first',
                // 登录信息
                user: {
                    nameJade: '',
                    passwordJade: '',
                    remember: true
                },
                // 注册信息
                user01: {
                    nameJade: '',
                    passwordJade: '',
                    remember: true
                },
                // 验证码
                checkCode: ''
            }
        },
        mounted() {
            this.getCookie()
            check_code()
        },
        methods: {
            //获取cookie
            getCookie() {
                axios({
                    method: "get",
                    url: "http://localhost:8080/studentManage2/login/getMyCookie",
                }).then(resp => {
                    this.user = resp.data
                })
            },
            // 改变标签页
            handleClick(tab, event) {
                console.log(tab, event);
            },
            loginMean() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/studentManage2/login/login",
                    data: this.user
                }).then(resp => {
                    switch (resp.data) {
                        case "YES":
                            this.open2("登录成功")
                            goManager()
                            break
                        case "NO":
                            this.open4("登录失败")
                            break
                        case "NoText":
                            this.open4("用户名和密码不能为空")
                            break
                        default:
                            this.open4("服务器未响应")
                    }
                })
            },
            // 注册
            checkSend() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/studentManage2/login/checkSendCode",
                    data: this.checkCode
                }).then(resp => {
                    if (resp.data === "YesCheck") {
                        this.registerMean()
                    } else if (resp.data === "NoCheck") {
                        this.open4("验证码不能为空")
                    } else {
                        this.open4("验证码错误")
                    }
                })
            },
            registerMean() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/studentManage2/login/register",
                    data: this.user01
                }).then(resp => {
                    switch (resp.data) {
                        case "YES":
                            this.open2("注册成功")
                            refresh()
                            break
                        case "NO":
                            this.open4("注册失败")
                            break
                        case "Already":
                            this.open4("用户名已存在")
                            break
                        case "NoText":
                            this.open4("用户名和密码不能为空")
                            break
                        default:
                            this.open4("服务器未响应")
                    }
                })
            },
            open2(val) {
                this.$message({
                    message: val,
                    type: 'success'
                });
            },
            open4(val) {
                this.$message.error(val);
                check_code()
            }
        }
    })
</script>
<script>
    function goManager() {
        setTimeout(function () {
            window.location.href = "plentiful/operate.html"
        }, 2000)
    }

    // 刷新验证码
    document.getElementById("checkCodeImg").onclick = check_code

    function check_code() {
        document.getElementById("checkCodeImg").src = "http://localhost:8080/studentManage2/login/checkCode?" + new Date().getMilliseconds();
    }

    function refresh() {
        setTimeout(function () {
            location.reload();
        },1500)
    }
</script>
</html>