body {
    text-align: center;
}

#barDiv {
    width: 1200px;
    height: 500px;
    position: relative;
    left: 50%;
    margin-left: -550px;
}

#pieDiv {
    width: 500px;
    height: 500px;
    position: relative;
    left: 50%;
    margin-left: -250px;
}

#outSpan {
    color: #17bd17;
    font-weight: bolder
}